.main-container{
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255,255,255,0.95);
}
.main-title{
    display: flex;
    justify-content: space-between;
}
.main-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20;
    margin: 15px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
}
.card:first-child{
    background-color: #372E68;
}
.card:nth-child(2){
    background-color: #372E68;

}
.card:nth-child(3){
    background-color: #372E68;
}
.card:nth-child(4){
    background-color: #372E68;
}
.card-inner{
display: flex;
align-items: center;
justify-content: space-between;
}
.card > .card-icon{
    font-size: 25px;
}